@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Oswald&display=swap');

body{
  margin: 0;  
  font-family: 'noto sans', sans-serif;
}

body * {
    box-sizing: border-box;
}

.main-calc{
    width: 50%;
    height: 100%;
    background: #151b72;
    display: flex;
    justify-content: center;
    align-items: center;
  float: left;

}
.main-calc1{
    width: 50%;
    height: 100vh;
    background: #f4f5ff;
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    
  

}

.left-calc{
width: 50vw;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;

}

.left-calc > h1{
font-size: 2vw;
color: rgb(255, 255, 255); 
text-align: center;
position:relative;
align-items:start;
margin: -10px;

}

.left-img{
  width: 20vw;
  margin: 0px;

}


.right-calc{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
  

}

.card-calc{ 

width: 100%;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
padding: 50px 90px;
background: #f5f5f7;
border-radius: 10px;
box-shadow: 0px 10px 25px rgb(8, 14, 69);
}

.card-calc > h1{
width: 100%;
font-size: 17pt;
color: rgb(8, 14, 69);
font-weight: 800;
margin: 0;

}

.textfield{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.textfield > input{

    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 10px;
    background: #d8d8d8;
    color: rgb(8, 14, 69);
    font-size: 12pt;
    box-shadow: 0px 2px 7px #000000;
    box-sizing: border-box;
    margin: 0px 0px;
    outline: none;

   
}

input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

.textfield > label{
    color: rgb(8, 14, 69);
    margin-bottom: 5px;
    text-align: left;
    
}

.textfield > input::placeholder{
    color: #090934a9; 
    text-align: start;
 
}

.calcular{
    width: 100%;
    padding: 10px 0px;
    margin: 8px;
    margin-left: 0px;
    border: none;
    border-radius: 8px;
   outline: none;
  font-weight: 800;
  color:azure;
  background: #111335;
  cursor: pointer;
  box-shadow: 0px 10px 30px -8px #000000;
  
}

.calcularavf{
    width: 100%;
    padding: 7px 51px;
    margin: 3px;
    margin-left: -3px;
    border: none;
    border-radius: 8px;
   outline: none;
  font-weight: 800;
  color:rgb(10, 1, 83);
  background: #aeaeaede;
  cursor: pointer;
  box-shadow: 0px 10px 30px -8px #000000;
}
.resultado{
    font-weight: 800;
     font-size: 8pt;
     box-sizing: border-box;
     color: #160f54;
     border-radius: 8px;
     align-items: center;
     position: absolute;
     top: 485px;
  
 
 }

 .resultadoavf{
    font-weight: 800;
     font-size: 8pt;
     box-sizing: border-box;
     color: #160f54;
     border-radius: 8px;
     align-items: center;
     position: absolute;
     top: 510px;
  
 
 }



@media only screen and (max-width: 900px){

    .card-calc{
        text-align: center;
            width: 110%;
           padding: 20px 30px;
          
          
    }        


}

@media only screen and (max-width: 600px){
    .main-calc{
        flex-direction: column;
        text-align: center;
        width: 100vw;
        height: 100;
      
    }
    .main-calc1{
        background: none;
       width: 0;
      height: 0;
    }
    .left-calc > h1{
        display: flex;
        font-size: medium;
        position: absolute;
       top: 80px;
    
    }
    .left-calc{
        width: 100%;
        right: auto;
        
    }
    .rigth-calc{
        width: 100%;
        right: auto;
    }
    .left-img{
        width: 60vw;
        position: absolute;
        left: 100px;
        top: 100px;  
       
    }
   
.card-calc{
text-align: center;
    width: 90%;
   padding: 20px 30px;
   position: absolute;
   left: 22px;
   top: 400px;
   
   
}
.left-calc{
  
    height: 150vh;
    
}


.card-calc > h1{
   font-size: 20pt;
    
    }

    .resultado{
        font-weight: 800;
         font-size: 8pt;
         box-sizing: border-box;
         color: #111335;
         border-radius: 8px;
         padding: auto;
         align-items: center;
         position: absolute;
         top: 220px;
     
     }

     
 .resultadoavf{
    font-weight: 800;
     font-size: 8pt;
     box-sizing: border-box;
     color: #160f54;
     border-radius: 8px;
     align-items: center;
     position: absolute;
     top: 215px;
  
 
 }
     
}

